{{ template "header" . }}

<section>
	<div class="container">
		<h2>Configure {{ .Data.Blog.Name }}</h2>
		<h3>Custom Domain</h2>

		<form method="POST" action="{{ .Data.Blog.SetDomainUrl }}">
			<label for="domain">Domain</label>
			<input class="u-full-width"
					autocomplete="off"
					type="text"
					id="domain"
					name="domain"
					value="{{ if .Data.Blog.Domain }}{{ .Data.Blog.Domain }}{{ end }}"
					placeholder= "Enter your domain" />
			<input class="button" type="submit" value="Save">
		</form>

		You can point your domain at Hyloblog using either an
			<strong>A</strong>
		or
			<strong>CNAME</strong>
		record, as shown beneath:
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Type</th>
					<th>Name</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>A</td>
					<td>[[ your domain name ]]</td>
					<td>{{ .Data.CustomDomainIP }}</td>
				</tr>
				<tr>
					<td>CNAME</td>
					<td>[[ your domain name ]]</td>
					<td>{{ .Data.CustomDomainCNAME }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

{{ template "footer" . }}


