{{ template "header" . }}

<!-- Subscriber Chart -->
<section>
	<div class="container">
		<h3>Subscriber Dashboard</h3>
		<div class="row">
			<div class="four columns"></div>
			<div class="four columns">
				<h3>{{ .Data.SubscriberData.Count }}</h3>
				<h6>Total Subscribers</h6>
				<a id="exportBtn" class="button">Export</a>
			</div>
			<div class="four columns"></div>
		</div>
	</div>
	<br><br>
</section>

<section>
	{{ template "subscribers" .Data.SubscriberData.Subscribers }}
</section>

{{ template "footer" . }}
